/* =====================
   Global styles
   ===================== */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

/* =====================
   Global header
   ===================== */

.global-header {
  background-color: var(--bs-black);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: white;
  padding: 0 1em;
}

.global-header a:link,
.global-header a:visited {
  color: white;
  text-decoration: none;
}

.global-header__right {
  display: flex;
  align-items: center;
}

.global-header__right .search-icon {
  display: flex;
  align-items: center;
  padding: 1em;
}

.global-header__right button {
  background: transparent;
  border: none;
  border-left: 1px solid var(--bs-gray-600);
  color: white;
  font-size: 0.9rem;
  padding: 1em 1.2em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  text-transform: uppercase;
  cursor: pointer;
}

/* =====================
   Skip links
   ===================== */

.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}
